@page "/address"
<center><h3>Addresses </h3> </center>

@if ((_addresses is null || !_addresses.Any()) && !_existsAddress)
{
    <span> No Address yet ! You can add one <a href="addAddress">here</a> </span>
}
else if(_addresses is not null && _addresses.Any() && _existsAddress)
{  
    <div>
        <table id="addresses">
            <tr>
                <th>First and last name</th>
                <th>Principal</th>
                <th>Street</th>
                <th>Postal code</th>
                <th>Country</th>
                <th>Region</th>
                <th>City</th>
            </tr>
            @foreach (var address in _addresses)
            {
                <tr>
                    <td>
                        @address.FirstName  @address.LastName
                    </td>
                   
                    <td>
                       <center> 
                           <input type="checkbox" disabled="disabled" checked="@address.Principal" />
                       </center>
                     </td>

                    <td>
                        @address.Street
                    </td>
                    
                    <td>
                        @address.PostalCode
                    </td>
                    
                    <td>
                        @address.Country
                    </td>
                    
                    <td>
                        @address.Region
                    </td>
                  
                    <td>
                        @address.City
                    </td>
                    <td>
                        <button @onclick="@(()=> NavigateToUpdate(address.Id))"> Update </button>
                        <button @onclick="@(()=> NavigateToDelete(address.Id))"> Delete </button>
                    </td>
                </tr>
            }
        </table>       
    </div>
    <br/>
    <center>
        <a href="@ClientApiEndpoints.AddressAddUrl">
            Add address
        </a>
    </center>
}