@page "/orders/{orderId:guid}"
<PageTitle> OrdersDetails </PageTitle>


@if (_orderDetails is null)
{
    <span>Loading order ...</span>
}
else 
{
    <center> <h3> Order from @_orderDetails.OrderDate </h3></center>
   <div>
       @foreach (var product in _orderDetails.OrderDetailsProducts)
       {
            <div class="container">
                <div class="image-wrapper">
                    <a href="/products/@product.ProductId">
                        <img src="@product.ImageUrl" class="image" />
                    </a>
                </div>
                <div class="name">
                    <h5>
                        <a href="/products/@product.ProductId">
                            @product.Title
                        </a>
                    </h5>
                    <span> @product.ProductType </span> <br/>
                    <span> Quantity: @product.Quantity </span>
                </div>
                <div class="product-price">
                    $@product.TotalPrice
                </div>
            </div>
       }

       <div class="product-price">
            Total: $@_orderDetails.TotalPrice
       </div>
   </div>

}
