@if (ProductService.Products is null)
{
    <span>@ProductService.GetLoadingProductsMessage()</span>
}
else if (ProductService.Products is not null && !ProductService.Products.Any())
{
    <span>@ProductService.GetEmptyProductMessage()</span>
}
else if (ProductService.Products is not null && ProductService.Products.Any())
{
    <ul class="list-unstyled">
        @foreach (var product in ProductService.Products)
        {
            <li class="media my-3">
                @if (product.Images.Any())
                {
                    <ProductImages 
                        Data="@product.Images.First().Data" 
                        ImageCount="product.Images.Count"
                        ProductId="product.Id" 
                        Title="@product.Title">
                    </ProductImages>
                }
                else
                {
                    <ProductImages ImageUrl="@product.ImageUrl"
                                   ImageCount="product.Images.Count"
                                   ProductId="product.Id" 
                                   Title="@product.Title">
                    </ProductImages>
                }
                <div class="media-body">
                    <a href="/products/@product.Id">
                        <h4 class="mb-0">
                            @product.Title
                        </h4>
                    </a>
                    <p> @product.Description </p>
                    <h5 class="price">
                         @GetPriceText(product)
                    </h5>
                </div>
            </li>

        }
    </ul>
    for (var i = 1; i <= ProductService.PageCount; i++)
    {
        <a class="btn
                 @(i == ProductService.CurrentPage ? "btn-info" : "btn-outline-info")
                 page-selection"
           href="/search/@ProductService.LastSearchText/@i">@i</a>
    }
}


