@page "/admin/categories" 
<PageTitle>@_titlePage</PageTitle>
<h3>@_titlePage</h3>


<div class="header">
    <div class="col">@nameof(Category.Name)</div>
    <div class="col">@nameof(Category.Url)</div>
    <div class="col">@nameof(Category.Visible)</div>
    <div class="col"></div>
</div>

 @foreach (var category in CategoryService.AdminCategories)
{
    <div class="row">
        <div class="col">
            @category.Name
        </div>
        <div class="col">
            @category.Url
        </div>
        <div class="col col-visible">
            <span>@(category.Visible ? "✔️" : "")</span>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="(() => NavigateToEditCategory(category.Id))">
                @GetConfigurationValue(ClientConstants.UpdateButtonTitle)
            </button> 
            <button class="btn btn-primary" @onclick="(() => NavigateToDeleteCategory(category.Id))">
                @GetConfigurationValue(ClientConstants.DeleteButtonTitle)
             </button> 
        </div>
    </div>
}

<button class="btn btn-primary" @onclick="NavigateToAddCategory">
    @GetConfigurationValue(ClientConstants.AddButtonTitle)
</button>