@page "/admin/configurations"
@using BlazorEComm.Shared.Dtos;
<PageTitle> Configurations </PageTitle>
<h3>Configurations</h3>

<div class="header">
    <div class="col">@nameof(ConfigurationDto.Key)</div>
    <div class="col">@nameof(ConfigurationDto.Value)</div>
    <div class="col">@nameof(ConfigurationDto.Type)</div>
    <div class="col">@nameof(ConfigurationDto.Language)</div>
    <div class="col">@nameof(ConfigurationDto.Activ)</div>
    <div class="col"></div>
</div>


@foreach (var configuration in _configurations)
{
    <div class="row">
        <div class="col">
            @configuration.Key
        </div>
        <div class="col">
            @configuration.Value
        </div>  
        <div class="col">
            @configuration.Type
        </div>
        <div class="col">
            @configuration.Language.ToUpper()
        </div>
        <div class="col col-visible">
            <span>@(configuration.Activ ? "✔️" : "")</span>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="(() => NavigateToEditConfiguration(configuration.Key, configuration.Language))">
                Update
            </button>
            <button class="btn btn-primary" @onclick="(() => NavigateToDeleteConfiguration(configuration.Key, configuration.Language))">
                Delete
            </button>
        </div>
    </div>
}

<button class="btn btn-primary" @onclick="NavigateToAddConfiguration">
    Add new configuration
</button>