@page "/admin/product-variants"
@using BlazorEComm.Shared.Dtos;
<PageTitle> @_titlePage</PageTitle>
<h3>@_titlePage</h3>

<div class="header">
    <div class="col">@nameof(ProductVariantDto.Product)</div>
    <div class="col">@nameof(ProductVariantDto.ProductType)</div>
    <div class="col">@nameof(ProductVariantDto.Price)</div>
    <div class="col">@nameof(ProductVariantDto.OriginalPrice)</div>
    <div class="col">@nameof(ProductVariantDto.Visible)</div>
    <div class="col"></div>
</div>


@foreach (var productVariant in _productVariants)
{
    <div class="row">
        <div class="col col-center">
            @productVariant.Product
        </div>
        <div class="col col-center">
            @productVariant.ProductType
        </div>
        <div class="col col-center">
            $@productVariant.Price
        </div>
        <div class="col col-center">
            $@productVariant.OriginalPrice
        </div>
        <div class="col col-center">
            <span>@(productVariant.Visible ? "✔️" : "")</span>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="(() => NavigateToEditProductVariant(productVariant.ProductId, productVariant.ProductTypeId))">
                @GetConfigurationValue(ClientConstants.UpdateButtonTitle)
            </button>
            <button class="btn btn-primary" @onclick="(() => NavigateToDeleteProductVariant(productVariant.ProductId, productVariant.ProductTypeId))">
                @GetConfigurationValue(ClientConstants.DeleteButtonTitle)
            </button>
        </div>
    </div>
}


<button class="btn btn-primary" @onclick="NavigateToAddProductVariant">
    @GetConfigurationValue(ClientConstants.AddButtonTitle)
</button>
